body {
  font-family: "Schibsted Grotesk", Arial, Helvetica, sans-serif;
}

.triangle:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 calc(0.216 * 50vw + 8px) calc(50vw + 32px);
  border-color: transparent transparent #e84a27 transparent;
  top: -8px;
  right: 0;
  position: absolute;
  z-index: 3;
}

.force-blue-triangle:before {
  border-color: transparent transparent #0f2040 transparent;
}

.triangle:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: calc(0.216 * 50vw + 8px) 0 0 calc(50vw + 32px);
  border-color: transparent transparent transparent #e84a27;
  top: -8px;
  left: 0;
  position: absolute;
  z-index: 4;
}

.force-blue-triangle:after {
  border-color: transparent transparent transparent #0f2040;
}

.triangle {
  height: 100px;
  color: white;
  position: relative;
  padding-top: calc(0.21 * 50vw);
  margin-top: calc(0.216 * 50vw * -1);
  clear: both;
}

.triangle_inner {
  background-color: #0f2040;
  padding-top: 3px;
}

body {
  margin: 0px;
}

.triangle2:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 calc(0.216 * 50vw) 50vw;
  border-color: transparent transparent #0f2040 transparent;
  top: 0px;
  right: 0;
  position: absolute;
  z-index: 11;
}

.triangle2:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: calc(0.216 * 50vw) 0 0 50vw;
  border-color: transparent transparent transparent #0f2040;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 10;
}

.hero {
  margin: 0px;
  padding: 0px;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5) 23.28%,
      rgba(0, 0, 0, 0.125) 56.56%
    ),
    linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.5) 22.37%,
      rgba(0, 0, 0, 0.125) 49.91%
    ),
    url(/hero.jpg);
  height: 85vh;
  background-repeat: no-repeat;
  background-size: 100vw auto;
  color: white;
  background-position-y: center;
  background-position-x: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
  overflow-y: hidden;
}

/*
  Hack for soldering workshop background image / any vertical
  background images
*/
@media only screen and (min-width: 1150px) {
  .hero {
    background-position-y: 42%;
  }
}

.cta {
  max-width: 750px;
  font-size: 30px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.icon-temp {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 25px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  cursor: pointer;
}

@media only screen and (min-width: 1000px) {
  .cta {
    width: 50vw;
    /*     background-color: red !important; */
  }
}

@media only screen and (min-width: 1350px) {
  .cta {
    width: 40vw;
  }
}

@media only screen and (min-width: 1800px) {
  .cta {
    width: 600px;
  }
}

main {
  max-width: 626px;
  padding-left: 23px;
  padding-right: 23px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  text-align: center;
  font-family: "DM Serif Display", Garamond, serif;
  font-weight: 400;
  font-size: 36px;
  margin-bottom: 0px;
  text-decoration: underline;
  text-decoration-color: #e84a27;
  text-decoration-thickness: 4px;
  text-underline-offset: 5px;
}

p {
  font-family: "Schibsted Grotesk", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 19px;
  margin-top: 5px;
  line-height: 25.5px;
}

main img {
  width: 100%;
}

main p a {
  color: white;
  font-style: italic;
  font-size: 20px;
}

.linked {
  text-align: center;
}

main {
  padding-bottom: calc(0.216 * 50vw);
}

.triangle_white:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 calc(0.216 * 50vw) 50vw;
  border-color: transparent transparent #fff transparent;
  top: 0px;
  right: 0;
  position: absolute;
  z-index: 11;
}

.triangle_white:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: calc(0.216 * 50vw) 0 0 50vw;
  border-color: transparent transparent transparent #fff;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 10;
}

.triangle_white {
  height: calc(0.215 * 50vw);
  position: relative;
  margin-top: calc(-1.25 * 0.216 * 50vw);
}

.container {
  display: flex;
  flex-direction: column;
  clear: both;
}

.triangle_white_inner {
  padding-top: calc(0.215 * 50vw);
  color: black;
}

.triangle_white_inner h1 {
  text-align: center;
  /*   font-weight: 700; */
  color: #0f2040;
}

h1 {
  font-weight: 600;
}

.leadership_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
}

.leader_image {
  width: 140px;
  height: 140px;
  object-fit: contain;
  border-width: 6px;
  border-color: #0f2040;
  border-style: solid;
  border-radius: 100px;
}

.leader {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 17px;
}

.leader_name {
  font-size: 20px;
  color: #0f2040;
  text-align: center;
  padding-top: 7px;
}

@media only screen and (max-width: 650px) {
  .leadership_grid {
    grid-template-columns: 1fr;
  }

  .leader_image {
    width: 200px;
    height: 200px;
    border-radius: 200px;
  }
}

@media only screen and (max-width: 850px) {
  main {
    padding-bottom: calc(1.35 * 0.216 * 50vw);
  }
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.triangle_white_inner .triangle main h1 {
  color: white;
}

.force-blue-triangle .triangle_inner main {
  padding-bottom: 10px;
}

/* .link_icon {
  /* height: 45px; */
/* margin-top: -25px;
} */

.link_icon svg {
  position: relative;
  top: 8px;
}

.cta p {
  font-family: "DM Serif Text", sans-serif;
  font-size: 30px;
}

.select input {
  cursor: pointer !important;
}

.svelte-select-list {
  width: 100% !important;
  font-size: 24px !important;
}

.indicators .icon {
  width: 30px !important;
}

@media only screen and (max-width: 600px) {
  .indicators .icon {
    width: 20px !important;
  }
}

.force-blue-triangle .triangle_inner {
  padding-top: 1px;
}

@media only screen and (max-width: 740px) {
  .cta p {
    margin-left: 23px;
    margin-right: 23px;
  }
}
